[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
torch = "*"
matplotlib = "*"
scikit-optimize = "*"
transformers = "*"
lightgbm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
